.navbar{
 width:100%;
 height:70px;
 display:flex;
 justify-content:space-around;
 background-color:#111827;
 color:#059669;
}
nav ul{
  display:flex;
  justify-content:center;
  align-items:center;
  
}
nav ul li{
    margin-right:20px;
    list-style:none;
    font-size:25px;
    color:#059669;
    /* text-shadow: 0 0 9px rgb(7 137 103 / 52%); */
}
